<%= simple_form_for @recipe, html: {multipart: true } do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel_body">
    <%= form.input :title, input_html: { class: 'form-control'} %>
    <%= form.input :description, input_html: { class: 'form-control'} %>
    <%= form.input :image, input_html: { class: 'form-control'} %>
  </div>

  <div class="btn btn-primary">
    <%= form.button :submit %>
  </div>
<% end %>
