//Form written according to instrucions of cocoon gem setup
= simple_form_for @recipe do |f|
	- if @recipe.errors.any?
		#error_explanation
			%h2
				= pluralize(recipe.errors.count, "error")
				Prohibited this recipe from being saved:
			%ul
				- @recipe.errors.full_messages.each do |message|
					.alert.alert-danger
						%li= message
	.form-inputs
		= f.input :title
		= f.input :description
		= f.input :image
		.row
			.col-sm-6
				%h2= t('ingredients')
				#ingredients
					= f.simple_fields_for :ingredients do |ingredient|
						= render 'ingredient_fields', f: ingredient
					.links
						= link_to_add_association f, :ingredients, class: 'btn btn-default'
			.col-sm-6
				%h2= t('directions')
				#directions
					= f.simple_fields_for :directions do |direction|
						= render 'direction_fields', f: direction
					.links
						= link_to_add_association f, :directions, class: 'btn btn-default'
	%br
	= f.button :submit, class: "btn btn-danger center-block colored"
