.row.content
  .col-sm-4.sidenav
    #side
      .squircle
        #show-image
          = image_tag(@recipe.image, size: "auto") if @recipe.image.attached?
        %br
        %h2 Ingredients
        #ingredients
          //Not showing hyphons for list elements
          %ul{:style => "list-style-type:none;"}
            - @recipe.ingredients.each do |ingredient|
              %li= ingredient.name
      = link_to 'Back', root_path, class: "btn btn-default"
      .btn-group.logged-in-buttons
        -if (user_signed_in? && (current_user.email == @recipe.user.email))
          = link_to 'Edit', edit_recipe_path, class: "btn btn-default"
          = link_to 'Delete', recipe_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger"
  .col-sm-8
    .squircle
      .title
        %h2= @recipe.title
      %h5
        %span.glyphicon.glyphicon-user
        Uploaded by
        = @recipe.user.email
    .squircle
      %p= @recipe.description
    .squircle
      %h2 Directions
      #directions
        %ol
          - @recipe.directions.each do |direction|
            %li= direction.step
    .parent_likes
      .like_count
      - if user_signed_in?
        %a
          -if current_user.liked? @recipe
            = link_to like_recipe_path(@recipe,'unlike'), class: "btn-danger btn-lg center-block liked-btn",method: :put, remote: :true do
              Hearted!
              %i.glyphicon.glyphicon-heart
              = @recipe.get_likes.size
          - else
            = link_to like_recipe_path(@recipe,'like'), class: "btn-danger btn-lg center-block like-btn",method: :put, remote: :true do
              Show me love!
              %i.glyphicon.glyphicon-heart
              = @recipe.get_likes.size
