.row.content
  .col-sm-3.sidenav
    #side
      .recipe
        = image_tag(@recipe.image, size: "auto")
        %br
        %h2 Ingredients
        %ul
          - @recipe.ingredients.each do |ingredient|
            %li= ingredient.name
      = link_to 'Back', root_path, class: "btn btn-default"
      .btn-group
        -if user_signed_in?
          = link_to 'Edit', edit_recipe_path, class: "btn btn-primary"
          = link_to 'Delete', recipe_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger"
  .col-sm-9
    .recipe
      %h2= @recipe.title
      %h5
        %span.glyphicon.glyphicon-user
        Uploaded by
        = @recipe.user.email
    .recipe
      %p= @recipe.description
    .recipe
      %h2 Directions
      %ul
        - @recipe.directions.each do |direction|
          %li= direction.step
