%p.notice= notice

%h1= @recipe.title
= image_tag(@recipe.image, size: "400x500")
%p
  Uploaded by
  = @recipe.user.email

%p= @recipe.description

.btn-group
  = link_to 'Back', root_path, class: "btn btn-default"
  = link_to 'Edit', edit_recipe_path, class: "btn btn-primary"
  = link_to 'Delete', recipe_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger"
