.squircle.jumbotron
  %h1= t('.welcome')
  %p= t('.welcome_p')
  = link_to t('.see_recipes'), recipes_path, class: "btn-danger btn-lg colored"
.about
  .row
    .col-sm-4
      %span.glyphicon.glyphicon-user.logo
    .col-sm-8
      %h2= t('.about_me')
      %p.squircle= t('.about_me_p')
.about
  .row
    .col-sm-8
      %h2= t('.share_it')
      %p.squircle= t('.share_it_p')
    .col-sm-4
      %span.glyphicon.glyphicon-globe.logo
.about
  .row
    .col-sm-4
      %span.glyphicon.glyphicon-heart.logo
    .col-sm-8
      %h2= t('.show_love')
      %p.squircle= t('.show_love_p')
.about
  .row
    .col-sm-8
      %h2= t('.sounds_good')
      %p.squircle= t('.sounds_good_p')
    .col-sm-4
      %span.glyphicon.glyphicon-cutlery.logo
