!!!

%html
  %head
    %meta{'charset' => 'utf-8'}
    %meta{'http-equiv' => 'x-ua-compatible', 'content' => 'ie=edge'}

    %title= t('app_title')

    %meta{'name' => 'description', 'content' => t('app_description')}
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-default
      .container
        .navbar-brand= link_to "Recipe Land", root_path

        - if user_signed_in?
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Contact", contact_path
            %li= link_to t('add_recipe'), new_recipe_path
            %li= link_to t('sign_out'), destroy_user_session_path, method: :delete
        - else
          %ul.nav.navbar-nav.navbar-right
            %li= link_to t('log_in'), new_user_session_path
            %li= link_to t('sign_up'), new_user_registration_path
    .container
      - flash.each do |key, value|
        = content_tag :div, value, class: "alert alert-info fade in"
    .container
      = yield
